<div style="padding: 20px">

    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isCreate()">Crea Utente</mat-card-title>
            <mat-card-title *ngIf="!isCreate()">Modifica Utente</mat-card-title>
        </mat-card-header>

        <form>

            <mat-card-content>
                <input type="hidden" [(ngModel)]="selectedUser!.id" [ngModelOptions]="{standalone: true}">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" [(ngModel)]="selectedUser!.nome" [readonly]="isReadOnly()"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Cognome</mat-label>
                    <input matInput [(ngModel)]="selectedUser!.cognome" [readonly]="isReadOnly()"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Data Di Nascita</mat-label>
                    <input matInput [(ngModel)]="selectedUser!.dataDiNascita" [readonly]="isReadOnly()"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </mat-card-content>
            <mat-card-footer>
                <button mat-raised-button color="primary" type="button" (click)="update()"
                    *ngIf="isReadOnlyBott() && !isCreate()">Conferma</button>
                <button mat-raised-button color="primary" type="button" (click)="create()"
                    *ngIf="isCreate()">Salva</button>
                <button mat-raised-button color="secondary" type="button" [routerLink]="['/list']">Indietro</button>
            </mat-card-footer>

        </form>
    </mat-card>


</div>